/* Hero section */
#hero-section>div.row {
    background-color: var(--hero-bg-color);
}

#hero-section h1 {
    color: var(--brand-color);
}

/* Card */
.product-card {
    border: none;
    border-radius: 12px;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}
.product-card a {
    text-decoration: none;
}

.product-card a h5, 
.product-card a span {
    color: #333
}
.img-container {
    background-color: var(--img-bg-color);
    border-radius: 12px;
    position: relative;
    /* padding: 2rem; */
    height: 250px;
    overflow: hidden;
}
.img-container a {
    display: block;
    width: 100%;
    height: 100%;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-position: center;
    object-fit: contain; 
    padding: 1rem;
}

.wishlist-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.wishlist-btn:hover .fa-heart{
    color: var(--heart-color)
}
.fa-heart.saved{
    color: var(--heart-color)
}
.btn-add-cart {
    border: 2px solid var(--shop-green);
    color: var(--shop-green);
    border-radius: 20px;
    padding: 6px 20px;
    font-weight: 600;
    background: transparent;
}

.btn-add-cart:hover {
    background-color: var(--shop-green);
    color: white;
}
.btn-add-cart.added{
    background-color: var(--shop-green);
    color: white;
}
.price {
    font-weight: 700;
    font-size: 1.1rem;
}

.star-rating {
    color: var(--star-color);
    font-size: 0.8rem;
}

/* Swiper buttons */
.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


