/* Variables */
:root {
    --bg-color: #FFFFFD;
    --brand-color: #0b4d2a;
    --nav-link-hover: #0b4d2a46;
    --hero-bg-color: #F9EFE6;
    --shop-green: #004d3d;
    --search-bg-color: #f3f4f6;
    --search-bg-focus-color: #e9ecef;
    --img-bg-color: #f5f6f6;
    --star-color: #28a745;
    --header-top-bg: #003d29;
    --swiper-navigation-color:  #0b4d2a;
    --swiper-navigation-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

/* Header Top */
#header-top {
    background-color: var(--header-top-bg);
    font-size: 0.85rem;
}

/* Navbar */
.search-input {
    background-color: var(--search-bg-color);
    border: none;
    padding-right: 2.5rem;
    min-width: 250px;
}

.search-input:focus {
    background-color: var(--search-bg-focus-color);
    box-shadow: none;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.brand-color {
    color: var(--brand-color);
}

header nav .nav-link:hover {
    color: var(--brand-color) !important;
    font-weight: 700 !important;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px var(--nav-link-hover) !important;
}


