/* Variables */
:root {
    --bg-color: #FFFFFD;
    --brand-color: #0b4d2a;
    --nav-link-hover: #0b4d2a46;
    --hero-bg-color: #F9EFE6;
    --shop-green: #004d3d;
    --search-bg-color: #f3f4f6;
    --search-bg-focus-color: #e9ecef;
    --img-bg-color: #f5f6f6;
    --star-color: #28a745;
    --header-top-bg: #003d29;
    --swiper-navigation-color:  #0b4d2a;
    --swiper-navigation-size: 30px;

    /* Cambia la dimensione */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}

/* Header Top */
#header-top {
    background-color: var(--header-top-bg);
    font-size: 0.85rem;
}

/* Navbar */
.search-input {
    background-color: var(--search-bg-color);
    border: none;
    padding-right: 2.5rem;
    min-width: 250px;
}

.search-input:focus {
    background-color: var(--search-bg-focus-color);
    box-shadow: none;
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.brand-color {
    color: var(--brand-color);
}

header nav .nav-link:hover {
    color: var(--brand-color) !important;
    font-weight: 700 !important;
    text-shadow: 1px 1px 10px #fff, 1px 1px 10px var(--nav-link-hover) !important;
}


/* Hero section */
#hero-section>div.row {
    background-color: var(--hero-bg-color);
}

#hero-section h1 {
    color: var(--brand-color);
}

/* Card */
.product-card {
    border: none;
    border-radius: 12px;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.img-container {
    background-color: var(--img-bg-color);
    border-radius: 12px;
    position: relative;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.img-container .img-fluid {
    max-height: 150px;
}

.wishlist-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-add-cart {
    border: 2px solid var(--shop-green);
    color: var(--shop-green);
    border-radius: 20px;
    padding: 6px 20px;
    font-weight: 600;
    background: transparent;
}

.btn-add-cart:hover {
    background-color: var(--shop-green);
    color: white;
}

.price {
    font-weight: 700;
    font-size: 1.1rem;
}

.star-rating {
    color: var(--star-color);
    font-size: 0.8rem;
}

/* Swiper buttons */
.swiper-button-next,
.swiper-button-prev {
    background-color: white;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


